In [1]:
import pandas as pd
import numpy as np
from collections import Counter
from sklearn.metrics import confusion_matrix,classification_report

In [2]:
pre = pd.read_csv('final_0901.csv')

pre_df = pd.DataFrame(pre)

pre_df

,person_id,age,gender,bmi,EGD,alcohol_habit,smoking_status,cancer,date,observation_date,Malignant neoplastic disease,Chronic liver disease,chronic obstructive lung disease,cerebrovascular disease,chronic kidney disease,Diabetes mellitus,Ischemic heart disease,hyperlipidemia,Hypertensive disorder
0,28610148,49,0,26.96,NaN,1.0,2.0,0,2003-11-11,2003-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39709673,31,0,20.96,NaN,2.0,3.0,0,2009-04-01,2009-01-01,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,18979243,56,0,25.25,NaN,3.0,3.0,0,2009-11-07,2009-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
3,29817862,56,0,27.25,NaN,3.0,3.0,0,2009-10-24,2009-01-01,NaN,NaN,NaN,0.0,NaN,1.0,0.0,1.0,1.0
4,26339248,39,0,24.57,NaN,2.0,3.0,0,2002-08-05,2003-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36570,12746702,69,0,23.95,2.0,1.0,1.0,1,2002-03-28,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
36571,65929166,50,0,22.91,NaN,2.0,NaN,1,2009-07-17,2009-01-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
36572,85131223,67,1,31.35,NaN,1.0,1.0,1,2012-03-04,2003-01-01,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0
36573,60915675,63,0,21.26,NaN,3.0,NaN,1,2008-06-10,2004-01-01,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
36574,88539129,67,0,25.71,NaN,4.0,NaN,1,2013-06-03,2004-01-01,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0

In [3]:
del pre_df['date']
del pre_df['observation_date']

In [4]:
# age, gender 포함 기저질환만 사용

pre_df = pre_df[['person_id','gender', 'age', 'bmi','smoking_status',
       'Malignant neoplastic disease', 'Chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'Diabetes mellitus', 'Ischemic heart disease',
       'hyperlipidemia', 'Hypertensive disorder', 'cancer']]

In [5]:
pre_df.loc[:,list(pre_df.loc[:,pre_df.isnull().any()].columns)].isnull().sum()/(len(pre_df))*100

bmi                                  4.434723
smoking_status                       4.273411
Malignant neoplastic disease        99.469583
Chronic liver disease               81.848257
chronic obstructive lung disease    84.959672
cerebrovascular disease             86.884484
chronic kidney disease              97.585783
Diabetes mellitus                   73.394395
Ischemic heart disease              76.590567
hyperlipidemia                      48.511278
Hypertensive disorder               54.933698
dtype: float64

In [6]:
# 범주형 변수의 Unique 값 살펴보기
cat_col =  ['Malignant neoplastic disease', 'Chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'Diabetes mellitus', 'Ischemic heart disease',
       'hyperlipidemia', 'Hypertensive disorder']
for col in cat_col:
    print(pre_df.loc[:,col].unique())

[nan  1.  0.]
[nan  1.  0.]
[nan  1.  0.]
[nan  0.  1.]
[nan  0.  1.]
[nan  1.  0.]
[nan  0.  1.]
[nan  1.  0.]
[nan  1.  0.]

In [7]:
pre_df.fillna({'bmi':round(pre_df['bmi'].mean(),2),
                'smoking_status':0,
                'Malignant neoplastic disease':0,
                'Chronic liver disease':0,
                'chronic obstructive lung disease':0,
                'cerebrovascular disease':0,
                'chronic kidney disease':0,
                'Diabetes mellitus':0,
                'Ischemic heart disease':0,
                'hyperlipidemia':0,
                'Hypertensive disorder':0},inplace=True)

C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [8]:
pre_df.loc[:,list(pre_df.loc[:,pre_df.isnull().any()].columns)].isnull().sum()/(len(pre_df))*100
# 결측 확인

Series([], dtype: float64)

In [9]:
#pre_df.to_csv('graph_data_kbd.csv', mode='w', index=False)

In [11]:
pre_df['bmi'].describe()

count    36575.000000
mean        23.797485
std          3.177181
min         11.770000
25%         21.640000
50%         23.800000
75%         25.670000
max         55.560000
Name: bmi, dtype: float64

In [12]:
# bmi 18.5이하 저체중, 23이하 정상, 25이하 과체중

pre_df.loc[pre_df['bmi']<=18.5, 'bmi'] = 1
pre_df.loc[((pre_df['bmi']<=23)&(pre_df['bmi']>18.5)), 'bmi'] = 2
pre_df.loc[((pre_df['bmi']<=25)&(pre_df['bmi']>23)), 'bmi'] = 3
pre_df.loc[(pre_df['bmi']>25), 'bmi'] = 4

C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [13]:
# 나이 10살 단위 범주화

# 어린 사람 ~ 나이 많은 사람 순

pre_df.loc[pre_df['age']<=20, 'age'] = 1
pre_df.loc[((pre_df['age']<=30)&(pre_df['age']>20)), 'age'] = 2
pre_df.loc[((pre_df['age']<=40)&(pre_df['age']>30)), 'age'] = 3
pre_df.loc[((pre_df['age']<=50)&(pre_df['age']>40)), 'age'] = 4
pre_df.loc[((pre_df['age']<=60)&(pre_df['age']>50)), 'age'] = 5
pre_df.loc[((pre_df['age']<=70)&(pre_df['age']>60)), 'age'] = 6
pre_df.loc[((pre_df['age']<=80)&(pre_df['age']>70)), 'age'] = 7
pre_df.loc[(pre_df['age']>80), 'age'] = 8

C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [14]:
print(pre_df.loc[:,'age'].unique())

[4 3 5 2 6 7 8 1]

In [15]:
# 범주형이 된 age의 가변수 생성
new_pre = pd.get_dummies(pre_df, columns=['age','smoking_status','bmi'])

In [16]:
new_pre.columns

Index(['person_id', 'gender', 'Malignant neoplastic disease',
       'Chronic liver disease', 'chronic obstructive lung disease',
       'cerebrovascular disease', 'chronic kidney disease',
       'Diabetes mellitus', 'Ischemic heart disease', 'hyperlipidemia',
       'Hypertensive disorder', 'cancer', 'age_1', 'age_2', 'age_3', 'age_4',
       'age_5', 'age_6', 'age_7', 'age_8', 'smoking_status_0.0',
       'smoking_status_1.0', 'smoking_status_2.0', 'smoking_status_3.0',
       'bmi_1.0', 'bmi_2.0', 'bmi_3.0', 'bmi_4.0'],
      dtype='object')

In [17]:
new_pre.shape

(36575, 28)

In [18]:
new_pre = new_pre[['person_id','gender', 'age_1', 'age_2', 'age_3', 'age_4',
       'age_5', 'age_6', 'age_7', 'age_8','smoking_status_0.0',
       'smoking_status_1.0', 'smoking_status_2.0', 'smoking_status_3.0',
       'bmi_1.0', 'bmi_2.0', 'bmi_3.0', 'bmi_4.0',
       'Malignant neoplastic disease', 'Chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'Diabetes mellitus', 'Ischemic heart disease',
       'hyperlipidemia', 'Hypertensive disorder', 'cancer']]

In [19]:
new_pre.shape

(36575, 28)

In [20]:
#new_pre.to_csv('new_data_1221.csv', mode='w', index=False)

## KD

In [2]:
pre = pd.read_csv('final_kd.csv')

pre_df = pd.DataFrame(pre)

pre_df

,person_id,age,gender,bmi,EGD,alcohol_habit,smoking_status,cancer,date,observation_date,Malignant neoplastic disease,Chronic liver disease,chronic obstructive lung disease,cerebrovascular disease,chronic kidney disease,Diabetes mellitus,Ischemic heart disease,hyperlipidemia,Hypertensive disorder
0,1673221,52,0,25.72,1.0,1,3.0,1,2008-09-30,2008-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1289235,62,0,NaN,NaN,1,NaN,1,2014-08-29,2009-05-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1690134,73,0,NaN,2.0,2,3.0,1,2014-05-09,2006-11-18,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
3,530465,64,0,17.40,4.0,2,NaN,1,2015-03-10,2015-03-10,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,0.0
4,737827,55,0,23.36,6.0,1,NaN,1,2014-04-22,2014-04-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,1756845,40,0,23.27,NaN,2,3.0,0,2016-07-14,2010-02-24,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,14298,49,1,NaN,NaN,1,1.0,0,2015-03-25,2006-07-22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,1646575,48,1,24.65,NaN,4,NaN,0,2017-03-25,2017-03-25,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,352251,26,1,17.52,NaN,2,NaN,0,2014-08-18,2014-08-04,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408,1599484,48,0,NaN,1.0,2,1.0,0,2007-01-05,2006-09-27,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# age, gender 포함 기저질환만 사용

pre_df = pre_df[['person_id','gender', 'age', 'bmi','smoking_status',
       'Malignant neoplastic disease', 'Chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'Diabetes mellitus', 'Ischemic heart disease',
       'hyperlipidemia', 'Hypertensive disorder', 'cancer']]

In [4]:
pre_df.loc[:,list(pre_df.loc[:,pre_df.isnull().any()].columns)].isnull().sum()/(len(pre_df))*100

bmi                                 36.919315
smoking_status                      48.655257
Malignant neoplastic disease        21.515892
Chronic liver disease               96.577017
chronic obstructive lung disease    94.621027
cerebrovascular disease             92.176039
chronic kidney disease              95.599022
Diabetes mellitus                   94.865526
Ischemic heart disease              93.643032
hyperlipidemia                      92.420538
Hypertensive disorder               75.061125
dtype: float64

In [5]:
pre_df.fillna({'bmi':round(pre_df['bmi'].mean(),2),
                'smoking_status':0,
                'Malignant neoplastic disease':0,
                'Chronic liver disease':0,
                'chronic obstructive lung disease':0,
                'cerebrovascular disease':0,
                'chronic kidney disease':0,
                'Diabetes mellitus':0,
                'Ischemic heart disease':0,
                'hyperlipidemia':0,
                'Hypertensive disorder':0},inplace=True)

C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [6]:
Counter(pre_df['smoking_status'])

Counter({3.0: 185, 0.0: 199, 1.0: 25})

In [7]:
# 범주형 변수의 Unique 값 살펴보기
cat_col =  ['Malignant neoplastic disease', 'Chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'Diabetes mellitus', 'Ischemic heart disease',
       'hyperlipidemia', 'Hypertensive disorder']
for col in cat_col:
    print(pre_df.loc[:,col].unique())

[0.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]

In [8]:
# 나이 10살 단위 범주화

# 어린 사람 ~ 나이 많은 사람 순

pre_df.loc[pre_df['age']<=20, 'age'] = 1
pre_df.loc[((pre_df['age']<=30)&(pre_df['age']>20)), 'age'] = 2
pre_df.loc[((pre_df['age']<=40)&(pre_df['age']>30)), 'age'] = 3
pre_df.loc[((pre_df['age']<=50)&(pre_df['age']>40)), 'age'] = 4
pre_df.loc[((pre_df['age']<=60)&(pre_df['age']>50)), 'age'] = 5
pre_df.loc[((pre_df['age']<=70)&(pre_df['age']>60)), 'age'] = 6
pre_df.loc[((pre_df['age']<=80)&(pre_df['age']>70)), 'age'] = 7
pre_df.loc[(pre_df['age']>80), 'age'] = 8

C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [9]:
print(pre_df.loc[:,'age'].unique())

[5 6 7 4 8 3 2 1]

In [10]:
# bmi 18.5이하 저체중, 23이하 정상, 25이하 과체중

pre_df.loc[pre_df['bmi']<=18.5, 'bmi'] = 1
pre_df.loc[((pre_df['bmi']<=23)&(pre_df['bmi']>18.5)), 'bmi'] = 2
pre_df.loc[((pre_df['bmi']<=25)&(pre_df['bmi']>23)), 'bmi'] = 3
pre_df.loc[(pre_df['bmi']>25), 'bmi'] = 4

C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda32\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [11]:
# 범주형이 된 age의 가변수 생성
new_pre = pd.get_dummies(pre_df, columns=['age','smoking_status','bmi'])

In [12]:
new_pre.columns

Index(['person_id', 'gender', 'Malignant neoplastic disease',
       'Chronic liver disease', 'chronic obstructive lung disease',
       'cerebrovascular disease', 'chronic kidney disease',
       'Diabetes mellitus', 'Ischemic heart disease', 'hyperlipidemia',
       'Hypertensive disorder', 'cancer', 'age_1', 'age_2', 'age_3', 'age_4',
       'age_5', 'age_6', 'age_7', 'age_8', 'smoking_status_0.0',
       'smoking_status_1.0', 'smoking_status_3.0', 'bmi_1.0', 'bmi_2.0',
       'bmi_3.0', 'bmi_4.0'],
      dtype='object')

In [14]:
Counter(new_pre['smoking_status_1.0'])

Counter({0: 384, 1: 25})

In [16]:
new_pre['smoking_status_2.0']=0

In [17]:
new_pre = new_pre[['person_id','gender', 'age_1', 'age_2', 'age_3', 'age_4',
       'age_5', 'age_6', 'age_7', 'age_8','smoking_status_0.0',
       'smoking_status_1.0', 'smoking_status_2.0', 'smoking_status_3.0',
       'bmi_1.0', 'bmi_2.0', 'bmi_3.0', 'bmi_4.0',
       'Malignant neoplastic disease', 'Chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'Diabetes mellitus', 'Ischemic heart disease',
       'hyperlipidemia', 'Hypertensive disorder', 'cancer']]

In [18]:
new_pre

,person_id,gender,age_1,age_2,age_3,age_4,age_5,age_6,age_7,age_8,...,Malignant neoplastic disease,Chronic liver disease,chronic obstructive lung disease,cerebrovascular disease,chronic kidney disease,Diabetes mellitus,Ischemic heart disease,hyperlipidemia,Hypertensive disorder,cancer
0,1673221,0,0,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,1289235,0,0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,1690134,0,0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,530465,0,0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,737827,0,0,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,1756845,0,0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
405,14298,1,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
406,1646575,1,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
407,352251,1,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
408,1599484,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [18]:
#new_pre.to_csv('kd_data_1226.csv', mode='w', index=False)